// --------------------------------
// Prism: LESS > Mixins
// --------------------------------


// -----------------------------
// Instant Theme Creator Mixins
// -----------------------------


// @ContainerWidth: 960px;
// @featureHeightDesktop: 350px;
// @featureHeightTablet: 250px;
// @featureHeightMobile: 200px;

// @slideshowHeightDesktop: 350px;
// @slideshowHeightTablet: 250px;
// @slideshowHeightMobile: 200px;




// -----------------------------
// Colour Variables
// -----------------------------

// // Background
// @bg-color: @color-swatch1; // Main BG
// @bg-color-alt: darken(@color-swatch1,10%);

// // Contrast Colour
// @contrast-color: @color-swatch2;
// @link-color: @color-swatch2;

// // Button BG Colour
// @button-color: @color-swatch3;

// // Heading Text Colour (H1 - H4)
// @heading-color: @color-swatch4;

// // Paragraph Text Colour
// @paragraph-color: @color-swatch5;

// // Nav Link Colour
// @nav-color: @color-swatch6;

// // Spare Colour
// @spare-color: @color-swatch7;




// -----------------------------
// Flexbox Mixins
// -----------------------------

.flex-vert-center {
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}




// -----------------------------
// Other Mixins
// -----------------------------


// Border Radius
.rounded(@radius: 2px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

// Transitions
.transition(@duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  -o-transition: all @duration @ease;
  transition: all @duration @ease;
}


// For the purposes of saving time copy and paste the following:

// .rounded(@radius: 2px); // Mixin > Other Mixins: Border Radius Mixin
// .transition(@duration:0.2s, @ease:ease-out); // Mixin > Other Mixins: Transitions
// .flex-vert-center; // Mixin > Flexbox: Vertical Align Center Mixin